### Conditional Statements

### if 
### if else
### if .. elif (if else laddder)
### nested if

In [ ]:
a = 10
b = 20
if a<b:
    print("hello") #won't print if condition is false

hello

In [8]:
a = 100
b = 20
if a>b:
    print("a is greater") #won't print if condition is false
else:
    print("b is greaterr")

a is greater

In [10]:
age = int(input("Enter your age"))
if age >= 18:
    print("eligible for voting")
else:
    print("not eligible for voting")

eligible for voting

In [13]:
no = 0
if no > 0:
    print("number is positive")
else:
    print("number is negative")

number is negative

In [16]:
#Else if ladder (Elif)
no = 0
if no==0:
    print("zero")
elif no > 0:
    print("positive")
else:
    print("negative")

zero

In [19]:
no = 89
if no % 3 == 0 and no % 5 == 0:
    print("number is divisible by 3 and 5")
else:
    print("not divisible")

not divisible

In [20]:
no = 15
if no % 3 == 0:
    if no % 5 == 0:
        print("divisible by 5 and 3")
    else:
        print("not divisible")

divisible by 5 and 3

# LOOP

In [ ]:
# Loop
# 1. while 
# 2. for

In [22]:
i = 1
while i <= 10:
    print("2 *",i,"=",2*i)
    i += 1

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [23]:
number = int(input("Enter the number"))
print("last digit of the number: ",number % 10)

last digit of the number:  3

In [27]:
number = int(input("ENTER THE NUMBER"))
sum = 0
while(number != 0):
    sum = sum + (number % 10)
    number = number // 10

print("sum of the digits: ",sum)

sum of the digits:  28

In [32]:
#Armstrong number
number = int(input("Enter a number: "))
num = number
power = len(str(number))
sum = 0
while(number != 0):
    sum += ((number % 10) ** power)
    number = number // 10

if(num == sum):
    print("Armstrong")
else:
    print("not Armstrong")

Armstrong

In [35]:
#For loops
for i in range(1,11):
    print(i, end =" ")
print("")
for i in range(10,0,-1):
    print(i, end = " ")

1 2 3 4 5 6 7 8 9 10
10 9 8 7 6 5 4 3 2 1

# PATTERNS

In [37]:
# ***
# ***
# ***
# ***
for j in range (5):
    for i in range (3):
        print("*", end = "")
    print("")

***
***
***
***
***

In [38]:
no = 1
for j in range (5):
    for i in range (3):
        print(no, end = "")
    print()

111
111
111
111
111

In [42]:
no = 1
for j in range (5):
    for i in range (3):
        print(no, end = "")
    print()
    no += 1

111
222
333
444
555

In [41]:
no = 1
for j in range (5):
    no = 1
    for i in range (3):
        print(no, end="")
        no += 1
    print()

123
123
123
123
123

In [46]:
no = 1
for j in range (3):
    for i in range (3):
        print(no, end = " ")
        no += 1
    print()

1 2 3
4 5 6
7 8 9

In [48]:
no = 3
for j in range (3):
    for i in range (3):
        print(no, end = "")
    print()
    no -= 1

333
222
111

In [56]:
char = 'A'
for j in range (3):
    for i in range (3):
        print(char, end  = "")
    print()
    asc = ord(char)
    asc += 1
    char = chr(asc)

AAA
BBB
CCC

In [57]:
char = 'A'
for j in range (3):
    char = 'A'
    for i in range (3):
        print(char, end = "")
        asc = ord(char)
        asc += 1
        char = chr(asc)
    print()

ABC
ABC
ABC

In [58]:
char = 'A'
for j in range (3):
    for i in range (3):
        print(char, end = "")
        asc = ord(char)
        asc += 1
        char = chr(asc)
    print()

ABC
DEF
GHI

In [59]:
char = 'C'
for j in range (3):
    for i in range (3):
        print(char, end = "")
    print()
    asc = ord(char)
    asc -= 1
    char = chr(asc)

CCC
BBB
AAA

In [2]:
for j in range (1,6):
    for i in range (j):
        print("*", end = "")
    print()

*
**
***
****
*****

In [4]:
for j in range (5,0,-1):
    for i in range (j):
        print("*", end = "")
    print()

*****
****
***
**
*

In [6]:
#printing the upper part of the triangle
for j in range (1,6):
    for i in range (j):
        print("*", end = "")
    print()

#printing the part after the 5 stars line
for j in range (4,0,-1):
    for i in range (j):
        print("*", end = "")
    print()

*
**
***
****
*****
****
***
**
*

In [20]:
max = 6
for j in range (1,max):
    for i in range (1, max - j):
        print(" ", end = "")
    for k in range (j):
        print("*",end ="")
    print()

    *
   **
  ***
 ****
*****

In [ ]:
max = 6
for j in range (1,max, 2):
    for i in range (1, max - j):
        print(" ", end = "")
    for k in range (j):
        print("*",end =" ")
    print()

    *
   * *
  * * *
 * * * *
* * * * *

In [36]:
max = 10
for j in range (1,max, 2):
    for i in range (1, max - j):
        print(" ", end = "")
    for k in range (j):
        print("*",end =" ")
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *