In [ ]:
#printing the memory addresses of different numeric variables 
number1 = 10
number2 = 5*2 
number3 = 100 // 10 #floor division
number4 = 100 / 10 #true division
number5 = 20 - 10

print(id(number1))
print(id(number2))
print(id(number3))
print(id(number4))          
print(id(number5))

140724873462984
140724873462984
140724873462984
2280439382992
140724873462984

In [9]:
#sum of last two digits of a number
a = int(input("Enter a number: "))
num1 = a % 10
a = a // 10
num2 = a % 10
print(num1 + num2)

8

In [ ]:
#swap last two digits of a number
a = int(input("Enter a number: "))
swap_num = a % 100
a = a // 100
a = ((a * 10) + (swap_num % 10))
a = ((a * 10)+ ((swap_num // 10)))
print(a)

12354

In [ ]:
#swapping two digits without using 3rd variable
a = int(input("Enter number 1: "))
b = int(input("Enter number 2: "))

a = a + b
b = a - b
a = a - b

print(a," ",b)

ValueError: invalid literal for int() with base 10: ''

In [ ]:
a = 10
b = 20
print(a)
print(b)
a,b = b,a

print(a)
print(b)

10
20
20
10

In [7]:
#ask the user selling price and the discount
'''format of the output should be 
selling price:  1000
discount: 20%
total: 800
GST: 18%
print: total'''


selling_price = int(input("enter the selling price: "))
discount = int(input("Enter the discount: "))

total_after_dist = selling_price - ((selling_price * (discount / 100)))
total_price = (total_after_dist + (0.18 * total_after_dist))


print("Selling price : ",selling_price)
print("Discount : ",discount)
print("----------------------------")
print("total : ",total_after_dist)
print("GST : 18%")
print("----------------------------")
print("final total: ",total_price)

Selling price :  1000
Discount :  20
----------------------------
total :  800.0
GST : 18%
----------------------------
final total:  944.0

In [ ]:
#convert farenheit to celsius
temp_in_farenheit = int(input("Enter temperature in farenheit: "))
print("temperature in celsius:",(temp_in_farenheit - 32) * (5/9))

21.11111111111111

PRINTING STATEMENTS

In [19]:
print("Hello, ",f"'Raj', ",f'"Good Morning"')
print('''Hello, 'Raaj', "Good Morning"''')

Hello,  'Raj',  "Good Morning"
Hello, 'Raaj', "Good Morning"

# use of backslash

In [ ]:
print("Hello \"student\" welcome")
print("campus \nHELLO")

Hello "student" welcome
campus
 HELLO

In [74]:
x = 5 + 3 \
+2 \
+3
print(x)

13

In [ ]:
print("hello \v  students") #question mark indicates

hello  students

In [ ]:
print("5 + 6 = 11")
num1 = 5
num2 = 6
num3 = num1 + num2
print("5 + 6 =",num1+num2)
print(f"{num1} + {num2} = {num3}")  #This is a formatted string

5 + 6 = 11
5 + 6 = 11
5 + 6 = 11

In [5]:
#take input from user: name, roll no, percentage and department
#output should be in one print statement

name = input("Enter your name")
roll_no = int(input("Enter your number"))
percentage = float(input("Enter the percentage: "))
department = input("Enter your department name")

print(f"My name is {name}, Roll No {roll_no}. I scored {percentage}% and I from the department of {department}.")

My name is Aryan Mhatre, Roll No 38. I scored 94.0% and I from the department of Cybersecurity.

PRACTICE!

In [9]:
#TASK 1
print("Python","Basics",2026)
print("Sum: ", 5 + 10)
print("5 + 10")

"""The difference between line 2 and 3 is that in line 2, the sum of 10 and 5 is printed while
in line 3, the only the string of '5+10' is printed"""

Python Basics 2026
Sum:  15
5 + 10

"The difference between line 2 and 3 is that in line 2, the sum of 10 and 5 is printed while\nin line 3, the only the string of '5+10' is printed"

In [8]:
#TASK2
name = "Aryan"
print(f"Welcome {name} to Python")

Welcome Aryan to Python

In [10]:
a = 10
b = 10.0
c = "10"
d = True

print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [14]:
#CHALLENGE QUESTION
a = "10"
b = 50
print(a + str(b))
print(int(a) + b)

1050
60

In [ ]:
#
name = "Aryan"
age = 21
course_name = "CYBERSECURITY"
learning_py = True


print(f"Name: {name}")
print(f"Age: {age}")
print(f"Course Name: {course_name}")
print(f"learning python: {learning_py}")

Name: Aryan
Age: 21
Course Name: CYBERSECURITY
learning python: True

### VARIABLES AND DATA TYPES

In [16]:
x = int(10.9)
y = float("20")
z = x + y
print(z)
print(type(z))

30.0
<class 'float'>

In [18]:
a = 50
b = 50
c = 100
d = 50 + 50

print(id(a))
print(id(b))
print(id(c))
print(id(d))

140724964886984
140724964886984
140724964888584
140724964888584

In [21]:
c = 5.0 + 6.0j
print(int(c.real))
print(int(c.imag))

5
6

In [23]:
#Type conversion trap
x = "100"
y = 20
z1 = x + str(y)
z2 = int(x) + y

print(z1)
print(z2)
print(type(z1))
print(type(z2))

10020
120
<class 'str'>
<class 'int'>

In [27]:
print(bool(0))
print(bool(1))
print(bool(" "))
print(bool("  "))
print(bool("Python"))

False
True
True
True
True

In [28]:
print("स्नेहा मराठी मध्ये बोलते")

स्नेहा मराठी मध्ये बोलते

### OPERATORS

In [ ]:
#Types of operators
#ARITHMETIC OPERATORS
a = 10
b = 20
print(a + b)
print(a - b)

b = 2
print(a ** b)

30
-10
100

In [32]:
a = 11
b = 2

print(a // b)  #floor division
print(a / b)  #normal division

5
5.5

In [33]:
#Task: take two values from user, and use all the operators
a = int(input("Enter number 1: "))
b = int(input("Enter number 2: "))

print(a + b)
print(a - b)
print(a // b)
print(a / b)
print(a * b)
print(a ** b)

51
17
2
2.0
578
108428035605965932354207744

In [ ]:
#COMPARISON OPERATORS

#These are string inputs
a = input("Enter number 1: ") #10
b = input("Enter number 2: ") #20

print (a == b)

False

In [39]:
a = int(input("Enter number 1: ")) #10
b = int(input("Enter number 2: ")) #20

print(a == b)
print(a > b)
print(b > a)
print(a != b)
print(b <= a)
print(a <= b)

False
False
True
True
False
True

In [46]:
#LOGICAL OPERATORS
#and or not
print(True and True)
print(False and True)
print(True and False)
print(False and False)
print("   ")
print(True or True)
print(False or True)
print(True or False)
print(False or False)
print("   ")
print(not 0)
print(not 1)
print(not 6)

True
False
False
False

True
True
True
False

True
False
False

### Remember 0 is always FALSE while rest of the numbers be it +ve or -ve, will be True

In [53]:
# ASSIGNMENT OPERATOR
# = += -= *= /= //= **=
a = 10
b = 20

a += b   # a = a + b
print(a)

a -= b   # a = a - b
print(a)

a /= b
print(a)  # a = a / b

30
10
0.5

In [ ]:
#BITWISE OPERATOR
# << Shift left
# >> Shift right 
# &  bitwise and
# |  bitwise or
# ^  bitwise xor
# ~ bitwise complement

In [56]:
print(50 & 40)
print(20 >> 2)
print(20 << 2)
print(50 ^ 40)
print(50 | 40)
print(~9)

32
5
80
26
58
-10

In [ ]:
#MEMBERSHIP OPERATOR
#In 
#Not in

In [60]:
l1 = [1,2,3,4,5,6]
print(1 in l1)
print(38 in l1)
print(2 not in l1)
print(15 not in l1)

True
False
False
True

In [62]:
a = 10
b = 20
c = a
print(a is b)
print(b is not c)
print(c is a)

False
True
True

In [66]:
# Ternary operators
a = 10
b = 5
x = "a" if a>b else "b"
print(x)

a

In [1]:
#Walrus Operators (:=)
#print(a = 10) this won't work as printing of direct assignment is not allowed
#therefore we use walrus operators
print(a:=10)

10