#### 10/2/26

### tuple: 
### ()
### store diff type data
### immutable 
### allows duplicate
### indexing 
### slicing
### ordered

In [6]:
tup = (1,2,3,4)
print(type(tup))

t = tuple()
print(type(t))

t = (10)
print(t)
print(type(t)) # for single values it prints the data type of the element

<class 'tuple'>
<class 'tuple'>
10
<class 'int'>

In [8]:
t = (10, 20, 30, "hello",89.7,True, False, [1,2,3],(10,20),{12,3,4},{1:10, 2:20})
print(t)

(10, 20, 30, 'hello', 89.7, True, False, [1, 2, 3], (10, 20), {3, 12, 4}, {1: 10, 2: 20})

In [10]:
# addition of elements
t = (10, 20, 30)
print(t)
print(id(t))
t = t + (100, )
print(t)
print(id(t))

(10, 20, 30)
2157110339840
(10, 20, 30, 100)
2157110398464

### ‚≠êtuple is a faster data structure than list
### Reason: in list, the memory is increased when a new element is added
### while in tuple, a new object is created where the new tuple and the old tuple are added in that memory

In [14]:
t = (10,20,30,40,50,60)
print(t[1])
print(t[-1]) #prints from behind
print(t[0:5]) #prints first 5 elements
print(t[::-1]) # print in reverse

20
60
(10, 20, 30, 40, 50)
(60, 50, 40, 30, 20, 10)

In [17]:
t = (10,20,30,40,50)
for i in t:
    print(i, end = " ")
print()
for i in range (0,len(t)):
    print(t[i], end = " ")

10 20 30 40 50
10 20 30 40 50

In [35]:
t = (10,20,30,40,50,20,20,20,20,20,30,40)
print(t.index(20,4)) #starts from the 4th index and then prints the index of the first occurence (20 here)
print(t.index(20,4,9)) # finds the element between 4th and 5th index (GIVES AN ERROR)
print(t.count(20))

5
5
6

In [33]:
t = (10,20,30)
a,b,c = t
print(t)
print(a)
print(b)
print(c)

(10, 20, 30)
10
20
30

In [34]:
# storing multiple variables creates a tuple
a = 10,20,30
print(a)
print(type(a))

(10, 20, 30)
<class 'tuple'>

In [37]:
t = range(0,5)
print(t)
t = tuple(range(5))
print(t)

range(0, 5)
(0, 1, 2, 3, 4)

### Set:
### {}
### mutable 
### no duplicates
### unordered
### no indexing
### no slicing 
### diff types of data

In [38]:
s = set() # only way to create an empty set
print(type(s))

<class 'set'>

In [39]:
s = {1,2,3,4,4,1,2,4}
print(s)

{1, 2, 3, 4}

#### indexing is not allowed

In [76]:
# in this case, first, boolean values are printed as False and True have value 0 and 1
s = {2, 3, True, "Hello", False, 67.8}
print(s)
s = {1,2,3, True, "Hello",False,67.8}
print(s) #True does not get printed as 1 comes first in order. (True corresponds to 1)

{False, True, 2, 3, 'Hello', 67.8}
{False, 1, 2, 3, 'Hello', 67.8}

In [72]:
s = (2,3,90.8,"hello",True,False,(100, 200))
print(s)

(2, 3, 90.8, 'hello', True, False, (100, 200))

In [59]:
for i in s:
    print(i, end = " ")

2 3 90.8 hello True False (100, 200)

In [74]:
s = {1,2,3}
s.add(10)
print(s)

{10, 1, 2, 3}

In [96]:
s= {
  1, 2, 3, 10
}

s.pop() # randomly removes any value
print(s)

{1, 10, 2}

In [79]:
s = {1,2,3,4,5}
s.remove(2)
print(s)

{1, 3, 4, 5}

In [ ]:
s = {1,2,3,4,5}
print(id(s))
s1 = s.copy() # method
print(s1)
print(id(s1))

2157116257024
{1, 2, 3, 4, 5}
2157116258816

In [105]:
a = {1,2,3}
b = {4,5,6,2}
print(a.union(b)) # prints unique values
print(a|b) # same as union()
print(a.intersection(b)) # prints common values
print(a&b) # same as intersection()

print(a - b) # does not print the common element and prints the other elements of the first set (prints a in a - b)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{2}
{2}
{1, 3}

In [111]:
a = {1,2,3,4,5,6}
b = {3,4,5}
print(a.issubset(b))
print(b.issubset(a))

print(a.issuperset(b))
print(a.isdisjoint(b)) # if no elements are common, then print true
print(a.symmetric_difference(b))

False
True
True
False
{1, 2, 6}

In [115]:
s = {1,2,3, 4}
a,b,c,d = s   # STORES RANDOMLY, SET IS A STUPID DATA STRUCTURE, DOES EVERYTHING RANDOMLY
print(s)
print(a)
print(b)
print(c)
print(d)

{1, 2, 3, 4}
1
2
3
4

In [116]:
s = {1,2,41,3}
s.remove(41)
print(s)

{1, 2, 3}

In [120]:
s = {1,2,3,4,5}
s.discard(41) 
'''Remove an element from a set if it is a member.
Unlike set.remove(), the discard() method does not raise
an exception when an element is missing from the set.'''
print(s)

{1, 2, 3, 4, 5}

In [ ]:
s = {10,20,30,40}
for i in s:
    print(i)


# printing with indexing won't work

40
10
20
30

In [122]:
s = {10,20,30,40}
if 20 in s:
    print("true")
else:
    print("false")

true

In [ ]:
# l = [10,3,20,30,23,45]


# find sum of all odd numbers
# l = [10,3,20,30,23,45]
# sort above list without sort function

# find unique number
# l = [1,1,1,1,13,1,1]

In [133]:
l = [10,3,20,30,23,45]
sum = 0
for i in l:
    sum += i

print(sum)

131

In [134]:
l = [10,3,20,30,23,45]
sum = 0
for i in l:
    if(i % 2 != 0):
        sum += i

print(sum)

71

In [ ]:
#BUBBLE SORT 
#find if the current element is greater than the next element, and then swap the elements

l = [10,3,20,30,23,45]
for i in range(0, len(l)-1):
    if(l[i] > l[i+1]):
        l[i],l[i+1] = l[i+1],l[i]

print(l)

[3, 10, 20, 23, 30, 45]

### DICTIONARY

In [5]:
#dictionary
#{key:value}

#values are mutable
#keys are immutable

d = dict()
print(type(d))

student = {
    "name": "John",
    "rollno": 28,
    "age":20,
    "subjects": "ml",
}
print(student)
print(student["name"])


#id
d = {"name": "John", id: 20}
print(d)
print(d[id])

<class 'dict'>
{'name': 'John', 'rollno': 28, 'age': 20, 'subjects': 'ml'}
John
{'name': 'John', <built-in function id>: 20}
20

In [7]:
student = {"name":"Raj"}
print(student)
student["rollno"] = 28
print(student)

{'name': 'Raj'}
{'name': 'Raj', 'rollno': 28}

In [10]:
stud = {
    "roll":12,
    "name":"Aryan",
    "age":20,
    "subjects": ["python", "java", "c++"],
    "city":"Los Angeles"
}

if "name" in stud:
    print("yes")
else:
    print("no")

#if tried searching for a key that is not present, it will give an error
if 12 in stud:
    print("yes")
else:
    print("no")

# function to check the keys
if "name" in stud.keys():
    print("yes")
else:
    print("no")

yes
no
yes

In [14]:
stud = {
    "roll":12,
    "name":"Aryan",
    "age":20,
    "subjects": ["python", "java", "c++"],
    "city":"Los Angeles"
}

for i in stud:
    print(i, end = " ") # prints the keys
print()
for i in stud.keys():
    print(i, end = " ") # prints the keys
print()
for i in stud.values():
    print(i, end = " ") # prints the values
print()
for i in stud.items():
    print(i, end = " ") # prints the key and value as a tuple

roll name age subjects city
roll name age subjects city
12 Aryan 20 ['python', 'java', 'c++'] Los Angeles
('roll', 12) ('name', 'Aryan') ('age', 20) ('subjects', ['python', 'java', 'c++']) ('city', 'Los Angeles')

In [ ]:
stud = {
    "roll":12,
    "name":"Aryan",
    "age":20,
    "subjects": ["python", "java", "c++"],
    "city":"Los Angeles"
}
x = stud.pop("city") # removes the key value pair with the key "city" and returns the value of the removed key
print(stud)
print(x)

x = stud.popitem() # removes the last key value pair and returns it as a tuple
print(x)
print(stud)

{'roll': 12, 'name': 'Aryan', 'age': 20, 'subjects': ['python', 'java', 'c++']}
Los Angeles
('subjects', ['python', 'java', 'c++'])
{'roll': 12, 'name': 'Aryan', 'age': 20}

In [20]:
stud = {
    "roll":12,
    "name":"Aryan",
    "age":20,
    "subjects": ["python", "java", "c++"],
    "city":"Los Angeles"
}
x = {"city":"Los Angeles","gender":"male"}
stud.update(x) # updates the dictionary with the key value pairs from x
print(stud)
y = {"roll":45}
stud.update(y) # updates the value of the key "roll" to 45
print(stud)

{'roll': 12, 'name': 'Aryan', 'age': 20, 'subjects': ['python', 'java', 'c++'], 'city': 'Los Angeles', 'gender': 'male'}
{'roll': 45, 'name': 'Aryan', 'age': 20, 'subjects': ['python', 'java', 'c++'], 'city': 'Los Angeles', 'gender': 'male'}

In [24]:
student = dict.fromkeys(["roll","name","city"],55) # creates a dictionary with the keys from the list and the value as 55 for all keys
print(student)


student = dict.fromkeys("abc",55) # creates a dictionary with the keys from the string and the value as 55 for all keys
print(student)

student = dict.fromkeys(range(0,5),55) # creates a dictionary with the keys from the range and the value as 55 for all keys
print(student)

{'roll': 55, 'name': 55, 'city': 55}
{'a': 55, 'b': 55, 'c': 55}
{0: 55, 1: 55, 2: 55, 3: 55, 4: 55}

In [26]:
student =  {"a":1}
val = student.setdefault("b", 2) # if the key is present, then it returns the value of the key, otherwise it adds the key with the value and then returns the value
print(student)
print(val)

{'a': 1, 'b': 2}
2

In [28]:
stud = {
    "roll":12,
    "name":"Aryan",
    "age":20,
    "subjects": ["python", "java", "c++"],
}

print(stud.get("name")) # returns the value of the key "name"
print(stud.get("city")) # returns None as the key is not present
print(stud.get("city", "Not Found")) # returns "Not Found" as the key is not present

Aryan
None
Not Found

In [ ]:
# {1:1,2:4,3:9,4:16...}
dict = {i:i*i for i in range(1,11)}
print(dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [37]:
# l =[a,b,c]
#op {'a':"A",'b':"B",'c':"C"}
l = ['a', 'b', 'c']
dict = {i:chr(ord(i)-32) for i in l}
print(dict)

{'a': 'A', 'b': 'B', 'c': 'C'}

In [40]:
l = ["cat","dog","tiger"]
dict = {i:len(i) for i in l}
print(dict)

{'cat': 3, 'dog': 3, 'tiger': 5}

In [ ]:
#print only those animals whose length is greater than 3
l = ["cat","dog","tiger","lion"]
dict = {i:len(i) for i in l if len(i) > 3}
print(dict)

{'tiger': 5, 'lion': 4}

In [42]:
#select no divisible by 3
n = range(1,11)
dict = {i:"yes" if i % 3 == 0 else "no" for i in n}
print(dict)

{1: 'no', 2: 'no', 3: 'yes', 4: 'no', 5: 'no', 6: 'yes', 7: 'no', 8: 'no', 9: 'yes', 10: 'no'}

In [43]:
#print only the ones whose names start with a, print name as key and value as the length of the name
l = ["amit","anjali","rohit","yash"]
dict = {i:len(i) for i in l if i[0] == 'a' or i[0] == 'A'}
print(dict)

{'amit': 4, 'anjali': 6}

In [44]:
#print value as odd or even
l = [1,2,3,4,5]
dict = {i:"odd" if i % 2 != 0 else "even" for i in l}
print(dict)

{1: 'odd', 2: 'even', 3: 'odd', 4: 'even', 5: 'odd'}

In [45]:
#print values as zero, positive or negative
n = [-1,-2,3,0,9,-11,12]
dict = {i:"zero" if i == 0 else "positive" if i > 0 else "negative" for i in n}
print(dict)

{-1: 'negative', -2: 'negative', 3: 'positive', 0: 'zero', 9: 'positive', -11: 'negative', 12: 'positive'}

In [1]:
keys  = ["a","b","c"]
values = [1,2,3]

dict = {keys[i]:values[i] for i in range(len(keys))}
print(dict)

print({k:v for k,v in zip(keys,values)})

{'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'b': 2, 'c': 3}

In [ ]:
# {"a":1,"b":2,"c":3}
#reversekey:value

d